<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.robserver.netgear"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Netgear Admin Revealer</name>

    <description>
    Netgear-DGN1000---DGN2200---Remote-Password-Finder
    </description>

    <author href="http://www.github.com/txt3rob/" email="txt3rob@gmail.com">
        
    </author>
    
</widget>
